.newCheckinForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 275px;
  width: 100px;
  /* justify-content: center; */
  /* align-items: center; */
  padding-left: 585px;
  position: absolute;
  top: 435px;
}

.addnewcheckin {
  position: absolute;
  top: 275px;
  padding-left: 510px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.checkinimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  filter: brightness(0.6);
}

.checkinsubmit {
  position: absolute;
  padding-top: 1px;
  bottom: 103px;
  left: 592px;
}

.checkincontainer {
  background-color: white;
  height: 170px;
  width: 220px;
  border-radius: 5px;
  border: 5px solid white;
}

.star-container {
  display: flex;
  margin-bottom: 10px;
  padding-top: 10px;
}

.star-widget {
  height: 29px;
  font-size: 16px;
  font-weight: 500;
  padding-top: 9px;
  /* background-color: aqua; */
}

.review__stars {
  width: 170px;
  height: 29px;
  margin-left: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.review__stars input {
  /* display: none; */
}

.review__stars label {
  font-size: 22px;
  background: -webkit-linear-gradient(90deg, #444 0%, #262630 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-right: 2px;
  transition: all 0.3s;
}

/* input:not(checked) ~ label:hover,
input:not(checked) ~ label:hover ~ label {
  background: -webkit-linear-gradient(90deg, #946a2e 0%, #e6ad5b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px; */
/* color: #fd4; */
/* } */

/* 
input:checked ~ label {
  background: -webkit-linear-gradient(90deg, #946a2e 0%, #e6ad5b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
/* color: #fd4; */
/* } */
