.usertitle {
  position: absolute;
  margin-top: -400px;
  font-size: 20px;
  margin-left: -125px;
}

.userdata {
  position: absolute;
  margin-top: -380px;
  font-size: 20px;
  margin-left: -5px;
  font-weight: bold;
}

.userdata div {
  font-size: 30px;
}

/* @import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
html {
  font-size: 70.5%;
  font-family: "Lato", sans-serif;
} */

/* body {
  font-size: 1.6rem;
  margin: 0;
  color: #001;
  background-image: linear-gradient(135deg, #feb692 10%, #ea5455 100%);
  overflow: hidden;
} */

.page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  object-fit: cover;
  /* position: relative; */
  /* margin-top: 70px;
  margin-left: 70px;
  padding-bottom: 70px; */
}

#hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  position: relative;
}

.profile {
  position: absolute;
  width: fit-content;
  background: linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.32));
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 1rem;
}

.profile-background {
  width: 100%;
  height: 10rem;
  /* background: linear-gradient(rgba(0, 0, 0, 0.64), rgba(0, 0, 0, 0.32)); */
  border-radius: 1rem 1rem 0 0;
}

.profile-contents {
  /* padding: 2.4rem 3.6rem 4.8rem; */
}

.profile-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-bottom: 1px solid #eee; */
}
.profile-header__icon {
  position: relative;
  top: -10rem;
  left: -11.4rem;
  background-image: url("https://cdn.pixabay.com/photo/2017/07/18/23/23/user-2517433_960_720.png");
  background-size: 100% 100%;
  border-radius: 10px;
  /* position: absolute; */
}

.profile-icon {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR80vbIZec_RnLcJISeMtsmdZ1OIA87Y_U0tw&usqp=CAU");
  background-size: 100% 100%;
}

.profile-header__text {
  margin-top: -5rem;
  font-size: 1.2rem;
  line-height: 2.5rem;
}

.profile-info {
  display: flex;
  flex-direction: row;
  margin: 2.4rem 2.4rem 2.4rem;
}

.profile-info-data {
  padding: 0 2.4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info-data__number {
  font-weight: 700;
  font-size: 20px;
  color: whitesmoke;
}

.profile-info-data__name {
  color: whitesmoke;
  font-size: 40px;
  margin-top: 0.4rem;
}

.email {
  margin-top: 25px;
  font-size: 28px;
}

.editprofile {
  background-color: transparent;
  color: white;
  border: none;
}

.editprofile:hover {
  cursor: pointer;
  font-weight: bolder;
  border: 1px solid white;
  border-radius: 5px;
}
