.artistlist {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  align-items: center;
}

.artistdetails {
  text-decoration: none;
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 25px;
  padding-left: 25px;
  border: 1px solid white;
  background: white;
  width: 200px;
}

.artisttext {
  position: absolute;
  top: 175px;
  left: 560px;
  font-weight: bold;
  color: white;
}

.artistsubtext {
  position: absolute;
  top: 230px;
  left: 600px;
  font-weight: bold;
  color: white;
}

.artistlistcontainer {
  /* background-color: white;
  height: 145px;
  width: 181px;
  border-radius: 5px;
  border: 5px solid white; */
  position: absolute;
  bottom: -100px;
  left: 602px;
  font-size: 20px;
}

.artistlistcontainer:hover {
  font-weight: bold;
}

.artistlistimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  filter: brightness(0.6);
}
