.artistlist {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  align-items: center;
}

.artistdetails {
  text-decoration: none;
  color: blue;
}

.artisttext {
  padding-left: 560px;
}

.artistsubtext {
  padding-left: 600px;
}
