.loginbtnz {
  background-color: black;
  border: none;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 30px;
  color: white;
}

.demobtnz {
  background-color: black;
  border: none;
  margin-right: 15px;
  margin-left: 50px;
  margin-top: 30px;
  color: white;
}

.loginbtnz:hover {
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
}

.demobtnz:hover {
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
}

.link-to-sign-up {
  margin-top: 10px;
  text-decoration: none;
  color: white;
}

.emailtext {
  margin-top: 5x;
  margin-bottom: 5px;
}

.passwordtext {
  margin-top: 5px;
  margin-bottom: 5px;
}
