.textuser {
  margin-top: 5px;
  margin-bottom: 5px;
}

.textemail {
  margin-top: 5px;
  margin-bottom: 5px;
}

.textpass {
  margin-top: 5px;
  margin-bottom: 5px;
}

.textverify {
  margin-top: 5px;
  margin-bottom: 5px;
}

.signsubmit {
  margin-top: 10px;
  background-color: black;
  border: none;
  color: white;
}

.signsubmit:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.sign-up-modal-container {
  background-color: black;
}
