.songlist {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  align-items: center;
}

.songdetails {
  text-decoration: none;
  color: white;
  padding-top: 30px;
  padding-bottom: 5px;
  padding-right: 25px;
  padding-left: 25px;
  border: 1px solid black;
  background: black;
  width: 200px;
  margin-right: 100px;
}

.songdetailcontainer {
  padding-top: 5px;
  padding-bottom: 5px;
}

.songtext {
  position: absolute;
  top: 190px;
  left: 815px;
  font-weight: bold;
  color: white;
}

.songsubtext {
  position: absolute;
  top: 280px;
  left: 870px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.songsubtext:hover {
  background: white;
  border: 3px solid white;
  border-radius: 5px;
  color: black;
}

.songpage {
  background-color: black;
}

.songlistcontainer {
  /* background-color: white;
  height: 145px;
  width: 181px;
  border-radius: 5px;
  border: 5px solid white; */
  position: absolute;
  bottom: -300px;
  left: 550px;
  font-size: 20px;
  columns: 2 auto;
}

/* .songlistcontainer:hover {
  font-weight: bold;
} */

.songlistimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  filter: brightness(0.6);
}

.covercontainer {
  display: flex;
}

.coverartimages {
  object-fit: cover;
  height: 80px;
  width: 80px;
}
