.newSongForm {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 275px;
  width: 100px;
  /* justify-content: center; */
  /* align-items: center; */
  padding-left: 600px;
  position: absolute;
  top: 475px;
}

.addnewsong {
  position: absolute;
  top: 300px;
  padding-left: 510px;
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.songimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  filter: brightness(0.6);
}

.songsubmit {
  position: absolute;
  padding-top: 1px;
  bottom: 115px;
  left: 611px;
}

.songcontainer {
  background-color: white;
  height: 152px;
  width: 155px;
  border-radius: 5px;
  border: 10px solid white;
}

.songfullpage {
  background-color: black;
}
